---
import '../styles/input.css'
import 'flowbite';

---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/logoh1.webp">
    <title>H1 Congelados</title>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <slot/>
</body>
<style>
    html {
        scroll-behavior: smooth;
    }
</style>
<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</html>