---
import SectionContainer from "@components/SectionContainer.astro"
---
<section id="aboutus" class="scroll-mt-[120px] w-full py-10 flex justify-center items-center min-h-[800px] bg-gradient-to-b  from-primary/80 via-slate-50 to-slate-50">
    <SectionContainer class="w-full">
        <div class="flex flex-col gap-8 xl:justify-between xl:flex-row ">
            <div class="mx-auto xl:mx-0 text-center xl:text-left max-w-2xl">
                <h1 class="text-white py-4 font-bold text-3xl md:text-4xl lg:text-5xl ">Quiénes Somos<h1>
                <div class="flex flex-col gap-4 font-semibold text-lg text-center xl:text-left md:text-xl lg:text-[22px] mt-4 text-secondary">
                    <p>
                    En H1 Congelados somos una empresa dedicada a la distribución de hielo rolito, elaborada bajo estrictos estándares de higiene y seguridad alimentaria. <br>
                    </p>
                    <p>
                        Nuestro compromiso es brindar un servicio confiable, rápido y personalizado, adaptado a las necesidades de cada cliente.
                    </p>
                    <p>
                        Contamos con una amplia red de distribución que nos permite abastecer comercios, bares, restaurantes y eventos en toda la zona. <br> 
                    </p>
                </div>
            </div>
            <div>
                <picture class="flex flex-col justify-center items-center">
                    <img src="/H1-7.jpg" alt="" class="h-96 w-full max-w-[700px] lg:w-[700px] object-cover object-[25%_75%] sm:h-[500px] rounded-2xl">
                </picture>
            </div>
        </div>
    </SectionContainer>
</section>

