---
import SectionContainer from "@components/SectionContainer.astro"
---

<section id="contacto" class="scroll-mt-[120px] py-12 bg-gradient-to-t  from-secondary to-transparent">
    <SectionContainer class="">
        <div class="max-w-7xl max-lg:max-w-3xl mx-auto p-4 md:p-8">
            <div class="grid lg:grid-cols-2 gap-8 items-center">
                <div class="bg-gray-50 rounded-lg p-8 border border-gray-200">
                    <h2 class="text-3xl font-bold text-primary mb-4">¡Contactate con nosotros!</h2>
                    <p class="text-slate-600 text-[15px] mb-8 leading-relaxed">Escribinos para realizar tu pedido, solicitar información o conocer más sobre nuestros productos y servicios.</p>

                    <form class="space-y-6" id="form-contacto">
                        <div>
                            <label class="text-secondary text-sm font-medium mb-2 block">Nombre</label>
                            <input
                                type="text"
                                name="name"
                                placeholder="Nombre"
                                class="w-full px-4 py-3 rounded-lg bg-white border border-gray-300 text-sm text-slate-900 focus:border-secondary outline-0"
                            />
                        </div>
                        <div>
                            <label class="text-secondary text-sm font-medium mb-2 block">Email</label>
                            <input
                                type="email"
                                name="email"
                                placeholder="E-mail"
                                class="w-full px-4 py-3 rounded-lg bg-white border border-gray-300 text-sm text-slate-900 focus:border-secondary outline-0"
                            />
                        </div>
                        <div>
                            <label class="text-secondary text-sm font-medium mb-2 block">Mensaje</label>
                            <textarea
                                placeholder="Mensaje"
                                name="message"
                                rows="4"
                                class="w-full px-4 py-3 rounded-lg bg-white border border-gray-300 text-sm text-slate-900 focus:border-secondary outline-0"
                            ></textarea>
                        </div>
                        <button
                            type="submit"
                            class="w-full text-sm border-2 border-primary hover:bg-primary hover:text-white text-primary font-medium py-3 px-6 rounded-lg transition-colors cursor-pointer"
                            >
                            Enviar mensaje
                        </button>
                    </form>
                </div>

                <div class="space-y-8">
                    <div class="bg-white rounded-lg p-6 shadow-sm border border-gray-200">
                        <h3 class="text-xl font-semibold text-primary mb-8">Información de Contacto</h3>

                        <div class="space-y-6">
                            <div class="flex items-start space-x-3">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 fill-secondary" viewBox="0 0 64 64">
                                    <path d="M32 0A24.032 24.032 0 0 0 8 24c0 17.23 22.36 38.81 23.31 39.72a.99.99 0 0 0 1.38 0C33.64 62.81 56 41.23 56 24A24.032 24.032 0 0 0 32 0zm0 35a11 11 0 1 1 11-11 11.007 11.007 0 0 1-11 11z" data-original="#000000" />
                                </svg>
                                <div>
                                    <h4 class="font-semibold text-secondary text-sm mb-2">Nuestra localidad</h4>
                                    <p class="text-slate-600 text-sm">Olessio 2080</p>
                                    <p class="text-slate-600 text-[13px] mt-0.5">Reconquista, Santa Fe - Argentina</p>
                                </div>
                            </div>

                            <div class="flex items-start space-x-3">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 fill-secondary" viewBox="0 0 513.64 513.64">
                                    <path d="m499.66 376.96-71.68-71.68c-25.6-25.6-69.12-15.359-79.36 17.92-7.68 23.041-33.28 35.841-56.32 30.72-51.2-12.8-120.32-79.36-133.12-133.12-7.68-23.041 7.68-48.641 30.72-56.32 33.28-10.24 43.52-53.76 17.92-79.36l-71.68-71.68c-20.48-17.92-51.2-17.92-69.12 0L18.38 62.08c-48.64 51.2 5.12 186.88 125.44 307.2s256 176.641 307.2 125.44l48.64-48.64c17.921-20.48 17.921-51.2 0-69.12z" data-original="#000000" />
                                </svg>
                                <div>
                                    <h4 class="font-semibold text-secondary text-sm mb-2">Numero de teléfono</h4>
                                    <a href="tel:+5493482448125" class="text-slate-600 text-[13px]">+54 9 3482448125</a>
                                </div>
                            </div>

                            <div class="flex items-start space-x-3">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 fill-secondary" viewBox="0 0 512 512">
                                    <path d="M298.789 313.693c-12.738 8.492-27.534 12.981-42.789 12.981-15.254 0-30.05-4.489-42.788-12.981L3.409 173.82A76.269 76.269 0 0 1 0 171.403V400.6c0 26.278 21.325 47.133 47.133 47.133h417.733c26.278 0 47.133-21.325 47.133-47.133V171.402a75.21 75.21 0 0 1-3.416 2.422z" data-original="#000000" />
                                    <path d="m20.05 148.858 209.803 139.874c7.942 5.295 17.044 7.942 26.146 7.942 9.103 0 18.206-2.648 26.148-7.942L491.95 148.858c12.555-8.365 20.05-22.365 20.05-37.475 0-25.981-21.137-47.117-47.117-47.117H47.117C21.137 64.267 0 85.403 0 111.408a44.912 44.912 0 0 0 20.05 37.45z" data-original="#000000" />
                                </svg>
                                <div>
                                    <h4 class="font-semibold text-secondary text-sm mb-2">Email de contacto</h4>
                                    <a href="mailto:h1eloreconquista@gmail.com" class="text-slate-600 text-[13px]">h1eloreconquista@gmail.com</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="bg-white rounded-lg p-6 shadow-sm border border-gray-200">
                        <h3 class="text-xl font-semibold text-primary mb-8">Horarios de Atención</h3>
                        <div class="space-y-4">
                            <div class="flex justify-between gap-4 flex-wrap">
                                <span class="font-semibold text-secondary text-sm">Lunes - Sábado</span>
                                <span class="text-slate-900 text-sm">8:00 AM - 18:00 PM</span>
                            </div>
                            <div class="flex justify-between gap-4 flex-wrap">
                                <span class="text-secondary font-semibold text-sm">Domingo</span>
                                <span class="text-slate-900 text-sm">9:00 AM - 13:00 PM</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </SectionContainer>
</section>

<script is:inline src="/js/contacto.js" defer></script>


