---
---
<footer class="bg-accent text-accent-foreground py-12 bg-secondary">
    <div class="container mx-auto px-4 lg:px-8 text-white">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 mb-8">
          <div class="flex flex-col gap-2">
            <img src="/logodeh1.webp" class="w-60" alt="">
            <p class="text-accent-foreground/80 leading-relaxed">
              Empresa dedicada a la distribución de hielo de la más alta calidad para la necesidad de cada cliente.
            </p>
          </div>

          <div class="">
            <h4 class="font-semibold mb-4 text-primary">Enlaces Rápidos</h4>
            <ul class="space-y-2">
              <li class="flex">
                <a
                  href="#productos"
                  class="text-accent-foreground/80 hover:text-primary transition-all duration-300 hover:scale-110"
                >
                  Productos
                </a>
              </li>
              <li class="flex">
                <a
                  href="#servicios"
                  class="text-accent-foreground/80 hover:text-primary transition-all duration-300 hover:scale-110"
                >
                  Servicios
                </a>
              </li>
              <li class="flex">
                <a
                  href="#aboutus"
                  class="text-accent-foreground/80 hover:text-primary transition-all duration-300 hover:scale-110"
                >
                  Quiénes Somos
                </a>
              </li>
              <li class="flex">
                <a
                  href="#contacto"
                  class="text-accent-foreground/80 hover:text-primary transition-all duration-300 hover:scale-110"
                >
                  Contacto
                </a>
              </li>
            </ul>
          </div>

          <div>
            <h4 class="font-semibold mb-4 text-primary">Contacto</h4>
            <ul class="space-y-2 text-accent-foreground/80">
              <div class="flex items-center gap-2">
                <span class="iconify" data-icon="mynaui:telephone-in" data-width="24" data-height="24"></span>
                <a href="tel:+5493482448125"  rel="noopener noreferrer" class="hover:text-primary transition-all duration-300 hover:scale-110">
                  +54 9 3482 448125
                </a>
              </div>
              <div class="flex items-center gap-2">
                <span class="iconify" data-icon="ic:outline-email" data-width="24" data-height="24"></span>
                <a href="mailto:h1eloreconquista@gmail.com"  rel="noopener noreferrer" class="hover:text-primary transition-all duration-300 hover:scale-110">
                  h1eloreconquista@gmail.com
                </a>
              </div>
              <div class="flex items-center gap-2">
                <span class="iconify" data-icon="oui:nav-maps" data-width="24" data-height="24"></span>
                <p>Olessio 2080, Reconquista - Santa fe</p>
              </div>
            </ul>
          </div>
           <div>
            <h4 class="font-semibold mb-4 text-primary">Redes Sociales</h4>
            <ul class="space-y-2">
              <li class="flex items-center gap-2">
                <span class="iconify" data-icon="skill-icons:instagram" data-width="24" data-height="24"></span>
                <a href="https://www.instagram.com/h1congelados/" target="_blank" rel="noopener noreferrer" class="hover:text-primary transition-all duration-300 hover:scale-110">
                  Instagram
                </a>
              </li>
              <li class="flex items-center gap-2">
                <span class="iconify" data-icon="logos:whatsapp-icon" data-width="24" data-height="24"></span>
                <a href="https://wa.me/5493482448125?text=Hola%20H1%20Congelados,%20necesito%20" target="_blank" rel="noopener noreferrer" class="hover:text-primary transition-all duration-300 hover:scale-110">
                  WhatsApp
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="pt-8 border-t border-accent-foreground/20 text-center text-accent-foreground/60">
          <p>&copy; {new Date().getFullYear()} H1 CONGELADOS. Todos los derechos reservados. Desarrollado por <span class="text-primary font-bold"><a href="https://axelsosadev.com/en/" target="_blank" rel="noopener noreferrer">Axel Sosa</a></span></p>
        </div>
    </div>
</footer>