---
import SectionContainer from "@components/SectionContainer.astro";
---

<section id="inicio" class="scroll-mt-[120px] relative w-full flex justify-center items-center h-[85dvh] bg-cover bg-center" style="background-image: url('/H1-Congelados-14.webp');">
    <div class="absolute inset-0 bg-black/70"></div>
    <SectionContainer class="w-full relative z-10">
        <div class="w-full flex flex-col mx-auto justify-center items-center text-center gap-6">
            <h1 class="text-xl text-primary font-bold">Benvenidos a H1 Congelados.</h1>
            <p class="text-4xl md:text-5xl lg:text-7xl max-w-[900px] font-bold text-white">Tu socio confiable en la distribución de hielo de la más alta calidad.</p>
        </div>
    </SectionContainer>
</section>